<p data-hook="dineromail"></p>

<%
  opts = {}
  opts[:item_name_1] = "Printdustry - Order ##{@order.number}"
  opts[:item_ammount_1] = @order.total.to_money.cents
  opts[:item_quantity_1] = 1
  opts[:transaction_id] = @order.number
  opts[:buyer_name] = @order.billing_firstname
  opts[:buyer_lastname] = @order.billing_lastname
  opts[:buyer_email] = @order.email
  opts[:buyer_phone] = @order.billing_address.phone

%>

<style>
  iframe.dineromail_frame {
    border: 0;
    width: 100%;
    height: 600px;
  }
</style>

<fieldset id="dineromail_payment_<%= payment_method.id %>">
  <legend><%= Spree.t(:payment_information) %></legend>

  <iframe id="dineromail_frame_<%= payment_method.id %>"
          class="dineromail_frame"
          src="<%= payment_method.redirect_url @order, opts %>">
  </iframe>

</fieldset>
